.container {
  display: flex;
  flex-direction: column;
  /* padding-inline: 360px; */
  width: 100%;
  align-items: center;
}

.overviewContainer {
  display: flex;
  align-items: center;
  position: relative;
  /* padding-bottom: 32px; */
  justify-content: space-between;
  width: 1200;
  max-width: 1200px;
}

.infoContainer {
  height: 380px;
  width: 459px;
}

.infoContainer h1 {
  margin-bottom: 11px;

}

.imageContainer {
  height: 630px;
  width: 510px;
  position: relative;
}

.specsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 64px;
  max-width: 1000px;
}

.specsContainer h2{
  padding-bottom: 40px;
}

.selectors {
  padding-block: 64px;
  height: 211px;

}

.storageContainer {
  display: flex;
  padding-top: 16px;
}

.colorContainer {
  padding-top: 40px;
  height: 65px;
  margin-bottom: 64px;
}

.carrouselContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-top: 16px;
  max-width: 1000px;
  padding-block: 40px;
}

.carrouselContainer>* {
  flex-shrink: 0;
}

.alternative-padding {
  padding-block: var(--alternative-padding-md);
}