.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 16px;
}

.backButton {
  margin-top: 86px;
  margin-left: 12px;
}

.overviewContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
}

.infoContainer {
  height: 380px;
  width: 459px;

}

.infoContainer h1 {
  margin-bottom: 11px;
}

.imageContainer {
  height: 630px;
  width: 510px;
  position: relative;
  min-width: 120px;
}

.specsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 64px;
  max-width: 1000px;
}

.specsContainer h2 {
  padding-bottom: 40px;
}

.selectors {
  padding-top: 32px;
  padding-bottom: 64px;
  height: 211px;

}

.storageContainer {
  display: flex;
  padding-top: 16px;
}

.colorContainer {
  padding-top: 40px;
  height: 65px;
  margin-bottom: 64px;
}

.colorContainer p {
  padding-bottom: 16px;
}

.similarItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similarItemsContainer h2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
  padding-bottom: 16px;
}

.carrouselContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-block: 16px;
  width: 100%;
  padding-inline: 2px;
  max-width: 1000px;
}

.carrouselContainer>* {
  flex-shrink: 1;

}


.alternative-padding {
  padding-block: var(--alternative-padding-md);
}

.carrouselContainer::-webkit-scrollbar {
  height: 2px;
  cursor: pointer;
}

.carrouselContainer::-webkit-scrollbar-thumb {
  background: black;
  cursor: pointer;
}

.carrouselContainer::-webkit-scrollbar-track {
  background: #CCCCCC;
  cursor: pointer;
}

.carrouselContainer {
  scrollbar-color: black 
}


@media (max-width: 768px) {
  .infoContainer {
    height: 380px;
    width: 100%;
  }

  .specsContainer {
    margin-top: 32px;
  }
}