.container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  height: 87px;
  position: flex;
  align-content: center;
  padding-inline: 32px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0
}