.especificacionRow {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 0px;
    gap: 48px;
    width: 100%;
    border-bottom: 0.5px solid #000000;
}

.especificacionRow:first-of-type {
    border-top: 0.5px solid #000000;
}

.especificacionRow:first-of-type {
    border-top: 0.5px solid #000000;
}

.label {
    width: 25%;
    min-height: 15px;
    line-height: 15px;
    text-transform: uppercase;
}

.data {
    width: 72%;
    line-height: 15px;
    flex: 1;
    line-height: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}